<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Register Page</title>

</head>
<body>
    
    <div class="container">
        <form method="post" action="/client/register">
            <h1>Register Page</h1>
            <input type="email" placeholder="Email" name="email" required><br>
            <br>
            <input type="password" name="password" required placeholder="Password"><br>
            <br>

            <button type="submit" value="">Submit</button>
        </form>
    </div>
    
    
</body>
</html> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Client Registration</span></div>
            <form method="post" action="/client/register">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Email" name="email" required>
                </div>
                <br>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <br>
                <div class="row button">
                    <input type="submit" value="Login">
                </div>
                <!-- <div class="signup-link">Not a member? <a href="#">Signup now</a></div> -->
            </form>
        </div>
    </div>
</body>
</html>
